{{ define "meta" }}
    <title>Alloy Home</title>
    <meta name="description" content="Boilerplate for creating web applications in Golang" />
{{ end }}

{{ define "content" }}
    <section class="home">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-3">Alloy</h1>
                <p class="lead">Boilerplate for creating web applications in Golang</p>
                <hr class="my-4">
                <p>Alloy is a starter template for creating web applications. It is written using Go language (golang). Alloy is an omakase of sorts. It brings together many useful libraries and tools that you might need to build (CRUD) web applications</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="https://github.com/olliecoleman/alloy" role="button">Download from Github</a>
                </p>
            </div>
        </div>
    </section><!-- /home -->
{{ end }}