{{ define "header" }}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Alloy</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{ if eq .Meta.Path "/" }} active {{ end }}">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item {{ if eq .Meta.Path "/contact/new" }} active {{ end }}">
                        <a class="nav-link" href="/contact/new">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pages
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/pages/about">About Page</a>
                            <a class="dropdown-item" href="/pages/demo">Demo Page</a>
                        </div>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/sessions/new">Admin login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{{ end }}