{{ define "meta" }}
    <title>Sorry, we couldn't find what you were looking for.</title>
{{ end }}

{{ define "content" }}
    <section class="error-page ">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-6">
                    <div class="jumbotron">
                        <h1>
                            Sorry, we couldn't find what you were looking for.
                        </h1>
        
                        <p class="lead">
                            The page that you were looking for could not be found. Go back to the <a href="/">home page</a> or <a href="/contact/new">contact us</a>.
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
{{ end }}