{{ define "meta" }}
    <title>Sorry, something went wrong.</title>
{{ end }}

{{ define "content" }}
<section class="error-page ">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-6">
                    <div class="jumbotron">
                        <h1>
                            Sorry, there was an error while processing your request.
                        </h1>
        
                        <p class="lead">
                            Go back to the <a href="/">home page</a> or <a href="/contact/new">contact us</a>.
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
{{ end }}