{{ define "meta" }}
    <title>{{ .Page.PageTitle.String }}</title>
    <meta name="description" content="{{ .Page.MetaDescription.String }}" />

    <meta itemprop="name" content="{{ .Page.PageTitle.String }}">
    <meta itemprop="description" content="{{ .Page.MetaDescription.String }}">

    <meta property="og:title" content="{{ .Page.PageTitle.String }}">
    <meta property="og:description" content="{{ .Page.MetaDescription.String }}">
  
    <meta name="twitter:title" content="{{ .Page.PageTitle.String }}">
    <meta name="twitter:description" content="{{ .Page.MetaDescription.String }}">
{{ end }}

{{ define "content" }}
    <section class="page-show">
        <div class="container">
            <div class="row">

                <div class="col">
                    <div class="page-header">
                        <h1>
                            {{ .Page.Title.String }}
                        </h1>
                    </div><!-- page-header -->

                    <div class="page-content">
                        {{ raw .Page.Content.String }}
                    </div>
                </div><!-- col-->
            </div>
        </div>
    </section>
{{ end }}