.main-header {
    margin-bottom: 0;
    margin-top: 0;
}

.page-header {
    h2 {
        color: $gray-500;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        padding: 6px 0;
    }
}
