.table {
    tbody {
        tr {
            td {
                h3 {
                    margin: 0;
                    font-size: 1.2em;
                }

                vertical-align: middle;
            }

            a {
                word-break: break-word;
            }
        }
    }
}
