{{ define "content" }}
    <div class="page-header">
        <h2>Dashboard</h2>
    </div>

    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        "If you spend too much time thinking about a thing, you'll never get it done."
                    </p>
                    
                    <footer class="blockquote-footer">
                        Bruce Lee
                    </footer>
                </blockquote>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <a href="/admin/pages" class="btn btn-block btn-outline-secondary btn-lg">Manage Pages</a>
        </div>

        <div class="col-lg-6">
            <a href="/admin/support-messages" class="btn btn-block btn-outline-secondary btn-lg">View Messages</a>
        </div>
    </div>
    <!-- row -->
{{ end }}